.wrap-it-picker
{
    position: relative;
    display: inline-block;
    width: 100%;
}

.picker
{
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
}

.picker-input
{
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    width: 100%;
    max-width: 450px;
    font-size:1.5em;
}

.picker,
.calendar,
.time
{
    display: none;
}

.picker.active,
.calendar.active,
.time.active
{
    display: block;
}


.date-link:after,
.time-link:after,
.year,
.month,
.day-spacer,
.day,
.hour,
.minute,
.meridian
{
    display: inline-block;
    text-align: center;
    padding: 5px 2px;
}


.date-link,
.time-link
{
    font-size: 1.8em;
}

.meridian
{
    font-size: 1.2em;
}

.date-link:after,
.time-link:after,
.meridian
{
    width: calc(50% - 5px);
}

.date-link:after,
.time-link:after
{
    font-family: FontAwesome;
}


.date-link:after
{
    content: "\f073";
}

.time-link:after
{
    content: "\f017";
}

.year
{
    width: calc(33.33% - 5px);
}

.month
{
    width: calc(25% - 5px);
}

.day-spacer,
.day
{
    width: 14.28571428571429%;
}

.hour,
.minute
{
    width: 16.6666%;
}
