
.picker-target
{
    margin-bottom: 25px;
    padding: 10px 5px;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
}

.picker
{
    position: relative;
}


.calendar
{
    min-width: 300px;
    width: calc(100% - 30px);
    max-width: 650px;
    transition: .5s;
    box-shadow: 0 0 50px #333;
    padding: 15px;
    border-radius: 2px;
    z-index: 10;
    box-sizing: border-box;
    background: linear-gradient(#fff,#fff);
    border: 1px solid #999;
    margin-bottom: 25px;
    position: absolute;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
}

.visible
{
    visibility: visible;
    opacity: 1;
    z-index: 10;
}


.years-wrapper,
.months-wrapper
{
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #efefef;
}

.days-wrapper
{
    min-height: 250px;
}

.day-spacer,
.day,
.month,
.year
{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 0;
    transition: .25s;
}


a.day,
a.month,
a.year
{
    text-align: center;
    text-decoration: none;
    font-family: Calibri;
    font-size: 14px;
    transition: .25s;
}

a.month,
a.year
{
    border-left: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

a.month:nth-child(4n),
a.year:nth-child(5n)
{
    border-right: 1px solid #efefef;
}

a.day
{
    border: .5px solid #efefef;
}

a.day:hover,
a.month:hover,
a.year:hover,
.selected
{
    font-weight: 700;
    background-color: rgba(204,204,204,.2);
}

.day-spacer,
a.day
{
    width: 14.28571428571429%;
}

a.year
{
    width: 20%;
}

a.month
{
    width: 25%;
}

.submit
{
    padding: 10px 5px;
}
